({:type :frame-event, :ticks 22080, :events ({:type :lyrics-event, :offset 46000.0, :ticks 22080, :text "VERSE"} {:type :lyrics-event, :offset 70000.0, :ticks 33600, :text "CHORUS"} {:type :lyrics-event, :offset 98000.0, :ticks 47040, :text "VERSE"} {:type :lyrics-event, :offset 122000.00000000001, :ticks 58560, :text "CH"} {:type :lyrics-event, :offset 150000.0, :ticks 72000, :text "VERSE"} {:type :lyrics-event, :offset 174000.0, :ticks 83520, :text "CH"} {:type :lyrics-event, :offset 202000.0, :ticks 96960, :text "AHH"}), :offset 46000.0})