({:type :frame-event, :ticks 8640, :events ({:type :lyrics-event, :offset 18000.0, :ticks 8640, :text "VERSE"} {:type :lyrics-event, :offset 66000.0, :ticks 31680, :text "CHORUS"} {:type :lyrics-event, :offset 82000.0, :ticks 39360, :text "STP"} {:type :lyrics-event, :offset 90000.0, :ticks 43200, :text "BRK"} {:type :lyrics-event, :offset 106000.00000000001, :ticks 50880, :text "CH"}), :offset 18000.0})